/* List View */
.video-card-container-list{
    // max-width: 390px;
    display: flex;
    margin-bottom: 14px;
    height: 176px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    cursor: pointer;
    // border: 1px solid #e5e7eb;
    .thumbnail{
        position: relative;
        img{
            background: no-repeat center center/cover;
            object-fit: contain;
            height: 176px;
        }
        .video-duration-text{
            position: absolute;
            color: #fff;
            background-color: #121212;
            padding: 2px 6px;
            bottom: 10px;
            left: 76%;
            border-radius: 4px;
        }
    }

    .video-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // padding: 6px;
        margin-left: 14px;
        .channel-icon{
            display: flex;
            align-items: center;
            margin: 8px 0;
        }
        .channel-icon img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: no-repeat center center/cover;
            object-fit: cover;
            margin-right: 10px;
        }
        .video-details{
            .video-title{
                color: #fff;
                font-weight: 600;
            }
            .video-view-data{
                color: rgba(255, 255, 255, 0.9);
                font-size: 0.875rem;
                margin-top: 10px;
            }

            .channel-name{
                color: rgba(255, 255, 255, 0.9);
                font-size: 0.875rem;
            }
        }
        .description{
            font-size: 0.875rem;
        }
    }
}


/* Grid View */
.video-card-container-grid{
    max-width: 390px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    cursor: pointer;
    .thumbnail{
        position: relative;
        img{
            background: no-repeat center center/cover;
            object-fit: contain;
            width: 100%;
        }
        .video-duration-text{
            position: absolute;
            color: #fff;
            background-color: #121212;
            padding: 2px 6px;
            bottom: 10px;
            right: 4px;
            border-radius: 4px;
        }
    }

    .video-info{
        display: flex;
        padding: 6px;
        .channel-icon img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: no-repeat center center/cover;
            object-fit: cover;
            margin-right: 10px;
        }
        .video-details{
            .video-title{
                color: #fff;
                font-weight: 600;
            }
            .video-view-data{
                color: rgba(255, 255, 255, 0.9);
                font-size: 0.875rem;
                margin-top: 10px;
            }

            .channel-name{
                color: rgba(255, 255, 255, 0.9);
                font-size: 0.875rem;
            }
        }
    }
}

/* List View for video dashboard */
.video-card-container-list-v2{
    // max-width: 390px;
    display: flex;
    margin-bottom: 14px;
    // height: 176px;
    width: 450px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    cursor: pointer;
    border: 1px solid #e5e7eb;
    .thumbnail{
        position: relative;
        img{
            background: no-repeat center center/cover;
            object-fit: contain;
            width: 138px;
        }
        .video-duration-text{
            position: absolute;
            color: #fff;
            background-color: #121212;
            padding: 0 6px;
            bottom: 6px;
            right:6px;
            border-radius: 4px;
        }
    }

    .video-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // padding: 6px;
        margin-left: 14px;
        .channel-icon{
            display: flex;
            align-items: center;
            margin: 8px 0;
        }
        .channel-icon img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: no-repeat center center/cover;
            object-fit: cover;
            margin-right: 10px;
        }
        .video-details{
            .video-title{
                color: #fff;
                font-weight: 600;
            }
            .video-view-data{
                color: rgba(255, 255, 255, 0.9);
                font-size: 0.875rem;
                margin-top: 10px;
            }

            .channel-name{
                color: rgba(255, 255, 255, 0.9);
                font-size: 0.875rem;
            }
        }
        .description{
            font-size: 0.875rem;
        }
    }
}