<div class="video-card-container-grid" *ngIf="viewMode !== 'list' && !videoDetailsPage">
    <div class="thumbnail">
        <img [src]="thumbnail" alt="">
        <span class="video-duration-text">{{duration}}</span>
    </div>
    <div class="video-info">
            <div class="channel-icon" *ngIf="!onMyChannelPage">
            <img [src]="channelIcon" alt="">
        </div>
        <div class="video-details">
            <div class="video-title">{{title}}</div>
            <div class="video-view-data">
                <span>{{viewCount}} Views</span> . <span>{{uploadedAt}}</span>
            </div>
            <div class="channel-name" *ngIf="!onMyChannelPage">{{channelName}}</div>
        </div>
    </div>
</div>

<!-- List view -->
<div class="video-card-container-list" *ngIf="viewMode === 'list' && !videoDetailsPage">
    <div class="thumbnail">
        <img [src]="thumbnail" alt="">
        <span class="video-duration-text">{{duration}}</span>
    </div>
    <div class="video-info">
        <div class="video-details">
            <div class="video-title">{{title}}</div>
            <div class="channel-name" *ngIf="videoDetailsPage">{{channelName}}</div>
            <div class="video-view-data">
                <span>{{viewCount}} Views</span> . <span>{{uploadedAt}}</span>
            </div>
        </div>
        <div class="channel-icon" *ngIf="!onMyChannelPage && !videoDetailsPage">
            <img [src]="channelIcon" alt="">
            <div class="channel-name" *ngIf="!onMyChannelPage">{{channelName}}</div>
        </div>
        <p class="description" *ngIf="!videoDetailsPage">{{description}}</p>
    </div>
</div>

<!-- video dashboard page -->
<div class="video-card-container-list-v2" *ngIf="videoDetailsPage">
    <div class="thumbnail">
        <img [src]="thumbnail" alt="">
        <span class="video-duration-text">{{duration}}</span>
    </div>
    <div class="video-info">
        <div class="video-details">
            <div class="video-title">{{title}}</div>
            <div class="channel-name" *ngIf="videoDetailsPage">{{channelName}}</div>
            <div class="video-view-data">
                <span>{{viewCount}} Views</span> . <span>{{uploadedAt}}</span>
            </div>
        </div>
        <div class="channel-icon" *ngIf="!onMyChannelPage && !videoDetailsPage">
            <img [src]="channelIcon" alt="">
            <div class="channel-name" *ngIf="!onMyChannelPage">{{channelName}}</div>
        </div>
        <p class="description" *ngIf="!videoDetailsPage">{{description}}</p>
    </div>
</div>