.main-container{
    height: 100vh;
    margin: 0 4px;
}

.home-page-sidebar{
    display: grid;
    grid-template-columns: 20% auto;
    gap: 2px;
    height: calc(100vh - 68px);
    .router-outlet-section{
        overflow-y: auto;
    }
}

.home-page-no-sidebar{
    height: calc(100vh - 68px);
}

// overlay for server connection
.server-connection-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 9999;
    .overlay-comp{
        position: relative;
        top: 28%;
        margin: 0 20px; 
    } 
}

@media only screen and (max-width: 768px){
    .home-page-sidebar{
        display: block;
    }
}