<div class="video-dashboard">
    <div class="video-details-section">
        <div class="video-player-container">
            <vg-player class="video-player" (onPlayerReady)="onPlayerReady($event)">
                <vg-overlay-play></vg-overlay-play>
                <vg-buffering></vg-buffering>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>
                <vg-controls [vgAutohide]="true" [vgAutohideTime]="1">
                    <vg-play-pause></vg-play-pause>
                    <vg-playback-button></vg-playback-button>
            
                    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
            
                    <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
            
                    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
            
                    <vg-track-selector></vg-track-selector>
                    <vg-mute></vg-mute>
                    <vg-volume></vg-volume>
            
                    <vg-fullscreen></vg-fullscreen>
                </vg-controls>
                <video [vgMedia]="$any(media)" #media [poster]="'https://images.pexels.com/photos/1144256/pexels-photo-1144256.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'" preload="auto" crossorigin>
                    <source [src]="url" type="video/mp4">
                </video>
            </vg-player>
        </div>
        <div class="video-info">
            <div class="video-info-header">
                <div class="video-info-subheader-1">
                    <div class="video-title text-lg">{{data.title}}</div>
                    <div class="video-view-data quarternary-text">
                        <span>{{data.viewCount}} Views</span> . <span>{{data.uploadedAt | timeAgo}}</span>
                    </div>
                </div>
                <div class="video-details-subheader-2">
                    <div class="likes-dislikes">
                        <button class="like-btn"><i class="fa fa-thumbs-up"></i> {{data.likes}}</button>
                        <button class="dislike-btn"><i class="fa fa-thumbs-down"></i> {{data.dislikes}}</button>
                    </div>
                    <div class="save-to-playlist">
                        <i class="material-icons">create_new_folder</i> <span class="btn-text">Save</span>
                    </div>
                </div>
            </div>
            <div class="channel-info">
                <div class="channel-icon">
                    <img [src]="data.channelIcon" alt="">
                    <span>
                        <p class="quarternary-text">{{data.channelName}}</p>
                        <p class="secondary-text">{{data.subscribers}} Subscribers</p>
                    </span>
                </div>

                <div class="subscribe-btn-container">
                    <button class="subscribe btn-secondary" (click)="onSubscribe()">
                        <i class="fa fa-user-plus"></i> Subscribe<span *ngIf="data.isSubscribed">d</span>
                    </button>
                </div>
            </div>
            <div class="description">
                <p>{{data.description}}</p>
            </div>
        </div>
        <div class="comments">
            <app-comments></app-comments>
        </div>
    </div>

    <!-- I won't be implementing suggested videos for some time, so comment this part and video player take all width -->
    <div class="suggested-videos">
        <!-- as of now for suggested videos, return all the videos of the user whose video is being played -->
        <app-videos [viewMode]="'list'" [videoDetailsPage]="true"></app-videos>
    </div>
</div>

<!-- TO DO: This issue seems to be fixed now . fixed poster taking extra height bug -->