.video-dashboard{
    display: flex;
    justify-content:space-between;
    .video-player-container{
        width: 100%;
        height: auto;
        margin-right: 16px;
    }
    .suggested-videos{
        width: 100%;
        max-width: 400px;
        height: 100%;
        background-color: green;
    }
}