<div class="video-dashboard">
    <div class="video-details">
        <div class="video-player-container">
            <vg-player (onPlayerReady)="onPlayerReady($event)">
                <vg-overlay-play></vg-overlay-play>
                <vg-buffering></vg-buffering>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>
                <vg-controls [vgAutohide]="true" [vgAutohideTime]="1">
                    <vg-play-pause></vg-play-pause>
                    <vg-playback-button></vg-playback-button>
            
                    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
            
                    <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
            
                    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
            
                    <vg-track-selector></vg-track-selector>
                    <vg-mute></vg-mute>
                    <vg-volume></vg-volume>
            
                    <vg-fullscreen></vg-fullscreen>
                </vg-controls>
                <video [vgMedia]="$any(media)" #media [poster]="'https://images.pexels.com/photos/2519817/pexels-photo-2519817.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'" preload="auto" crossorigin>
                    <source [src]="url" type="video/mp4">
                </video>
            </vg-player>
        </div>
        <div class="video-info" style="height:100px;border: 1px solid green;width: 100%;">bjbjbjbj</div>
        <div class="comments" style="height:100px;border: 1px solid red;width: 100%;">jbjbjbjb</div>
    </div>
    <!-- I won't be implementing suggested videos for some time, so comment this part and video player take all width -->
    <!-- <div class="suggested-videos">
        <app-videos [viewMode]="'list'" [videoDetailsPage]="true"></app-videos>
    </div> -->
</div>

<!-- TO DO: fixed poster taking extra height bug -->