.video-dashboard{
    display: flex;
    background-color: #121212;
    .video-details{
        width: 65%;
        .video-player-container{
            margin: 20px;
            vg-player{
                
            }
        }
    }
    .suggested-videos{
        width: auto;
        height: 100%;
    }
}