<div class="comments-container">
    <div class="comments-header">
        <p class="comments-count">{{commentsData.length}} Comments</p>
        <span *ngIf="deviceIsMobile" class="btn-secondary" (click)="onClose()">Close</span>
    </div>
    
    <div class="add-comment-section">
        <input type="text" placeholder="Add a comment" [formControl]="addComment">
        <button class="btn-secondary add-btn" (click)="onAddComment()">Add</button>
    </div>
    <span class="horizontal-line"></span>
    <div *ngFor="let comment of commentsData; let uiRowId = index">
        <app-comment-card [data]="comment" ></app-comment-card>
    </div>
</div>